<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/merchants/merchant.json.jbuilder", merchant: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>
